.wallets {
}

.wallets-inner {
  display: flex;
}
.contribute {
  flex-basis: 25%;
  min-width: 230px;
  padding: 23px 0 13px 33px;
  background-color: #fff;
  // .contribute__list
  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.04em;
    padding-bottom: 19px;
  }

  &__list {
  }

  // .contribute__item

  &__item {
    display: flex;
    justify-content: space-between;
    padding: 6px 10px 5px 12px;
  }

  // .contribute__img

  &__img {
    width: 25px;
    height: 25px;
  }

  // .contribute__item-caption

  &__item-caption {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  // .contribute__text

  &__text {
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 16px;
    color: #394247;
  }

  // .contribute__check

  &__check {
    width: 20px;
    height: 20px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
  }
}
.contribute-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37px;
  width: 37px;
  min-width: 37px;
  border-radius: 50%;
  background-color: #f2f2f2;
  margin-right: 9px;
}
.contribute-check {
  display: flex;
  align-items: center;
}
.contribute__item:hover {
  background-color: #fafafa;
}
.contribute__item:hover .contribute__check {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}
.fetch {
  flex-basis: 40%;
  padding: 16px 19px 71px;
  margin-right: 21px;
  background-color: #fff;
  // .fetch__list
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.04em;
    padding-bottom: 17px;
  }
  &__subtitle {
    height: fit-content;
    font-size: 12px;
    line-height: 15px;
  }

  &__list {
  }

  // .fetch__item

  &__item {
    display: flex;
    justify-content: space-between;
    padding: 6px 10px 5px 12px;
  }

  // .fetch__img

  &__img {
    width: 25px;
    height: 25px;
  }

  // .fetch__item-caption

  &__item-caption {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__text {
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 16px;
    color: #394247;
  }
}
.fetch-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37px;
  width: 37px;
  min-width: 37px;
  border-radius: 50%;
  background-color: #f2f2f2;
  margin-right: 9px;
}
.fetch-num {
  display: flex;
  align-items: center;
  // .contribute-num__text

  &__text {
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */

    display: flex;

    color: #394247;
  }
}
